[part1]
# Target one system
require_event=event:FSDTarget,Name:re(Col 285.*)
action_message={Name} may be the place we are looking for
action_store=!quest2-part1

[part2]
# This only gets fired if part1 has already been completed (in this case, a vague indication of a Guardian site?
require_event=event:FSDTarget,Name:re(Synuefe MG-K B42-[0-9]+)
require_store=quest2-part1
action_message={Name} may be the other place we are looking for
