# Example quest

[part0]
require_event=event:Docked
action_message=Message from the local bulletin board. "Please help. My friend went missing several months ago. The authorities have given up searching and I don't have any funds to pay you. But I do have some interesting information I can impart if you help? He was last seen in this system. You may find more information in a signal source in this or a nearby system."
require_store=!quest1.part0

[part1]
require_store=quest1.part0,!quest1.part1
require_event=event:FSSSignalDiscovered,ThreatLevel:0
action_message=Scans detect no signs of the missing commander. Keep looking.

[part2]
require_store=quest1.part1,!quest.part4
require_event=event:FSSSignalDiscovered,ThreatLevel:0,TimeRemaining:>300,USSType:$USS_Type_ValuableSalvage;
action_message=This could be it!

[part3]
require_store=quest1.part2
require_event=event:USSDrop,USSThreat:0,USSType:$USS_Type_ValuableSalvage;
action_message=Scans indicate there may be data in the materials.

[part4]
require_store=quest1.part3,!quest1.part4
require_event=event:MaterialCollected
action_message=Scanning. Decoding. The material contains a short data log. The pilot fought his way out of a pirate attack and fled to a nearby system. But his ship was damaged. It is very likely he would have been forced to land. The FSS may be able to detect his ship signature. Scan remote, unmapped planets to find him. This could take some time!

[part5]
# Find a landable planet you've not yet mapped (maybe restrict to specific type of planet or a location). Probably need to restrict to inside the bubble to ensure random POIs will appear
require_store=quest1.part4
require_event=event:Scan,ScanType:Detailed,Landable:True,PlanetClass:Icy body,WasMapped:False
# TODO "StarSystem":re.compile("Syn.*"),
action_message=Possible location of missing pilot found {BodyName}. Proceed to planet and scan with probes.
# TODO need store items to be formatted based on event

[part6]
# TODO need BodyName:{BodyName} once that is available in events
require_event=event:SAAScanComplete,!event:quest1.part8
require_store=quest1.part5
action_message=Probe scan of {BodyName} completed. Data suggests 80%% chance of correct location. Suggest landing near Latitude 89, Longitude 45 and checking out with SRV.

[part7]
require_event=event:Touchdown
require_store=quest1.part6
action_message=This could be the right location. Have a look around and see what you can find.

[part8]
require_store=quest1.part7
require_event=event:CollectCargo,Type:occupiedcryopod,Stolen:False
action_message=The occupant is alive! You need to get them to safety as soon as possible.

[part9]
require_store=quest1.part8
require_event=event:SearchAndRescue,Name:occupiedcryopod
action_message=Thank you! Thank you so much for finding my friend. You have my eternal gratitude. I am so sorry that I do not have any financial reward for you. And I am sorry to say that I do not have any interesting information to give you. But I had to peek your interest as you were my only hope.

[part10]
require_store=quest1.part9
require_event=event:Docked
action_message=This is a message for the friendly commander who saved me. My friend told me all about you. But he didn't tell you about what I was up to because he simply didn't know. I think I can trust you though, and I'm in no condition to continue my investigation. You've heard the rumours. Aliens have existing in this galaxy and some might even still be alive today. But you may not know that humanity has known about this for a lot longer. It has all been kept a secret. I was meeting a whistleblower who was going to reveal all, but we were attacked before I got all the information. I do remember the name of the system though. Go to "Hermitage" and have a look around. If I'm right, you'll know it when you find it...


#[zpart3]
#require_store=!quest1-completed
#require_event=event:
#action_store=quest1-completed
